body{
    background-color: blue;
}
.whyilikeit{
    background-color: red;
}
.Facts{
    background-color: yellow;
}
.Howitsdone{
    background-color: chartreuse;
}
.Typesofonlinelearningsites{
    background-color: darkblue;
}
.whatisonlinelearning{
    background-color: darkorange;
}