body{
    background-color: chocolate;
}
.whyilikeit{
    background-color: chartreuse;
}
.Facts{
    background-color: aquamarine;
}
.Howitsdone{
    background-color: beige;
}
.Typesofonlinelearningsites{
    background-color: blue;
}
.whatisonlinelearning{
    background-color: darkorange;
}